.dropdown-big {
  position: relative;

  .dropdown-big__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 14px 14px 20px;
    min-width: 238px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }

  .dropdown-big__options {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    right: 0;
    border-radius: 0 0 4px 4px;
    display: none;
    border: 1px solid $color5;
    box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    z-index: 2;

    .option {
      padding: 7px 20px;
      background-color: #fff;
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 6px;
      position: relative;

      @include transitioned;

      &:not(:last-child) {
        border-bottom: 1px solid $color5;
      }

      &:hover:not(.label) {
        cursor: pointer;
        background-color: $color24;
      }

      &.inactive {
        &:hover {
          background-color: transparent !important;
          border-color: transparent !important;
          cursor: default;
        }
      }

      img {
        width: 20px;
      }
    }

    &.with-checkmarks {
      .option {
        &:not(.label) {
          padding-left: 40px;

          &.active {
            &::after {
              content: url("../../assets/vectors/tick.svg");
              position: absolute;
              top: calc(50% + 2px);
              transform: translateY(-50%);

              width: 14px;
              left: 15px;
              // filter: invert(37%) sepia(2%) saturate(5729%) hue-rotate(181deg)
              //   brightness(97%) contrast(87%);
              filter: invert(57%) sepia(9%) saturate(705%) hue-rotate(177deg)
                brightness(98%) contrast(91%);
            }
          }
        }

        &.label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 9px 15px;

          .cross {
            width: 12px;
            cursor: pointer;
          }
        }
      }
    }

    &.bordered-options {
      min-width: 320px;
      right: 0;
      top: 50px;
      left: unset;
      box-shadow: 40px 34px 84px 0px $color21;
      border: none;
      border-radius: 12px;
      padding-left: 6px;
      padding-right: 6px;

      .option {
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 18px;
        border: 1px solid transparent;
        font-size: 16px;

        &:nth-child(1) {
          cursor: default;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 28px;
          padding-right: 28px;

          &:hover {
            background-color: #fff;
          }
        }

        &:hover:not(:nth-child(1)) {
          background-color: $color8;
          border-color: $color18;
        }

        &.active {
          background-color: $color8;
        }
      }
    }
  }
}
