#onboarding {
  .no-tasks {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-onboarding-task-card {
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;

    @include transitioned;

    &:hover {
      transform: scale(1.025);
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        img.project-img {
          width: 34px;
        }

        .title {
          font-size: 20px;
          color: $color1;
          font-weight: 500;
        }
      }
    }

    p {
      color: $color1;
    }
  }

  .task-cards {
    .main-row {
      --bs-gutter-x: 13px;
      --bs-gutter-y: 13px;
    }
  }
}
