.msg-file {
  border: 1px solid $color46;
  border-radius: 4px;
  background-color: $color8;
  display: flex;
  padding-right: 10px;
  height: 44px;
  position: relative;

  .cross {
    position: absolute;
    right: 0;
    top: 0;

    img {
    }
  }

  .img {
    position: relative;
    top: 0px;
    bottom: -1px;
    left: -1px;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    flex-shrink: 0;
    overflow: hidden;

    .placeholder {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(0, 204, 153, 0.4);
      background: #def5f2;
      border-radius: 4px;

      &.overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;

        @include transitioned;
      }

      .file {
        width: 18px;
        height: 18px;
      }
    }

    img,
    video {
      width: 100%;
      display: block;
      object-fit: cover;
      height: 100%;
    }
  }

  &.no-download {
    cursor: pointer;
  }

  &:not(.no-download):hover {
    .placeholder.overlay {
      opacity: 1;
    }
  }

  &.without-text {
    padding: 0;
    border: none;
  }
}
