.btn {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  flex-shrink: 0;
  outline: none;
  gap: 10px;

  @include transitioned;

  @media screen and (max-width: 575px) {
    height: 38px;
    padding: 10px 16px;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .btn-text {
    font-size: 16px;
    font-weight: 500;

    &.with-icon-2 {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  &.btn-grey {
    background-color: $color5;

    .btn-text {
      color: $color1;
    }
  }

  &.btn-primary {
    background-color: $color10;

    .btn-text {
      &,
      * {
        color: #fff;
      }
    }

    &.btn-primary-bordered {
      border: 1px solid $color10;
      background-color: transparent;

      .btn-text {
        color: $color10;
      }

      &:hover {
        background-color: rgba($color10, 0.05);
      }
    }
  }

  &.btn-primary-light {
    background-color: rgba($color10, 0.05);
    width: 100%;
    justify-content: center;

    .btn-text {
      color: $color10;
    }
  }

  &.btn-bordered,
  &.btn-light-grey {
    padding: 8px 10px;
    gap: 8px;
    height: 32px;

    .btn-text {
      color: $color2;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &.btn-bordered {
    border: 1px solid rgba($color6, 0.2);

    &:hover {
      background-color: rgba($color6, 0.075);
    }
  }

  &.btn-light-grey {
    height: 36px;
    background-color: $color14;
    padding-left: 14px;
    padding-right: 14px;
  }

  &.btn-dashed {
    border: 1.5px dashed $color13;

    .btn-text {
      color: $color7;
    }
  }

  &.btn-white {
    height: 42px;
    background-color: #fff;
    border: 1px solid $color39;

    &.grey-border {
      border-color: $color38;
    }

    .btn-text {
      color: $color10;
    }
  }

  &.btn-inlined {
    width: unset;
  }

  &.persist-height {
    height: 48px;
  }
}
