#navbar {
  position: relative;
  height: 100px;
  background-color: $color8;
  align-items: center;
  padding: 0;
  padding-left: 60px !important;
  padding-right: 60px !important;
  z-index: 7;
  width: 100%;
  top: 0;

  @media screen and (max-width: 767px) {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  & > * {
    height: 100%;
  }

  .navbar-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-main {
      display: flex;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 991px) {
        display: none;
      }

      a {
        @include transitioned;

        &:hover {
          color: $color1;
        }
      }
    }

    .options {
      display: flex;
      gap: 26px;

      @media screen and (max-width: 991px) {
        display: none;
      }

      .option-item {
        cursor: pointer;

        @include transitioned;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .menu-sm,
    .hamburger {
      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    .hamburger {
      .icon {
        @include transitioned;

        &.active {
          transform: rotate(90deg);
        }
      }
    }
  }
}
