.pagination-num {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;

  & > * {
    padding-left: 12px;
    padding-right: 12px;

    &:nth-child(1) {
      margin-right: 12px;
    }

    &:last-child {
      margin-left: 12px;
    }
  }

  .pag-item {
    cursor: pointer;

    &.active {
      color: $color1;
    }
  }

  .pg-btn {
    border-radius: 8px;
  }
}

.pg-btn {
  background-color: rgba($color10, 0.1);
  border: none;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include transitioned;

  &:hover {
    background-color: rgba($color10, 0.2);
  }

  &.next,
  &:nth-child(2) {
    img {
      transform: rotate(180deg);
    }
  }
}
