#onboarding {
  .tasks {
    .search-wrap {
      width: 100%;
      max-width: 380px;

      .custom-form-control {
        width: 100%;

        .input {
          width: 100%;
          min-width: unset;

          input {
            height: 42px;
          }
        }
      }
    }

    .dropdown-big .dropdown-big__options.bordered-options {
      left: 0;
      right: unset;

      @media screen and (max-width: 575px) {
        min-width: 280px;
      }
    }
  }
}
