#main-layout {
  .layout-content {
    position: relative;

    .layout-body {
      position: relative;
      padding: 30px;
      z-index: 5;
      overflow-x: hidden;

      &:not(.white-bg) {
        background-color: $color8;
      }

      &.white-bg {
        .page-container {
          border-radius: 6px;
          max-width: unset;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          max-width: 1372px;
        }

        .sub-page-container {
          max-width: 1178px;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          z-index: 1;
          padding-top: 60px;

          @media screen and (max-width: 991px) {
            padding-top: 40px;
          }

          @media screen and (max-width: 767px) {
            padding-top: 30px;
          }

          @media screen and (max-width: 575px) {
            padding-top: 18px;
            padding-bottom: 18px;
          }
        }
      }

      @media screen and (max-width: 767px) {
        padding: 18px;

        .page-section {
          @media screen and (max-width: 767px) {
            padding-left: 14px !important;
            padding-right: 14px !important;
          }

          @media screen and (max-width: 575px) {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }
        }
      }

      .desc-box {
        border-radius: 30px;
        background-color: $color8;
        padding: 0 50px 50px;
        margin-top: 26px;
        max-width: 1372px;
        margin-left: auto;
        margin-right: auto;

        &:first-child {
          margin-top: 0;
        }

        @media screen and (max-width: 991px) {
          padding-left: 30px;
          padding-right: 30px;
          border-radius: 20px;
        }

        @media screen and (max-width: 767px) {
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 12px;
          margin-top: 26px;
        }

        @media screen and (max-width: 575px) {
          margin-top: 16px;
          padding-left: 16px;
          padding-right: 16px;
        }
      }

      .dark-bg-wrap {
        background-color: $color8;
        border-radius: 30px;
        position: relative;

        @media screen and (max-width: 767px) {
          border-radius: 12px;
        }

        img {
          &.dots {
            position: absolute;

            @media screen and (max-width: 991px) {
              display: none;
            }

            &.dots-1 {
              top: 30px;
              left: -52px;
              // right: 42px;
            }

            &.dots-2 {
              // bottom: 178px;
              // right: 30px;
              top: -10px;
              right: -40px;
            }

            &.dots-3 {
              top: 50%;
              left: -30px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}

.menu-sm {
  position: absolute;
  z-index: 6;
  top: 100px;
  left: 0;
  right: 0;
  background-color: $color8;
  padding-left: 60px;
  padding-right: 60px;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid rgba($color6, 0.2);
  border-bottom: 1px solid rgba($color6, 0.2);

  @media screen and (max-width: 767px) {
    left: 0;
    right: 0;
    padding-left: 32px;
    padding-right: 32px;
  }

  & > * {
    display: flex;
  }

  .navbar-main {
    flex-direction: column;
    // gap: 30px;
    padding: 30px 0;
    align-items: flex-start;

    .nav-item {
      width: 100%;

      &:not(.first) {
        padding-top: 15px;
      }

      &:not(.last) {
        padding-bottom: 15px;
      }

      &:not(.nav-heading)::before {
        content: url("../../assets/vectors/chevron-right.svg");
        position: absolute;
        right: 60px;

        @media screen and (max-width: 767px) {
          right: 32px;
        }
      }
    }

    // & > *

    &.more-nav-items {
      border-bottom: 1px solid $color2;

      .nav-item-wrap {
        width: 100%;
      }

      .nav-item {
        display: flex;
        align-items: center;
        gap: 14px;
        position: relative;
        width: 100%;

        img.icon {
          width: 22px;
          filter: invert(99%) sepia(91%) saturate(772%) hue-rotate(175deg)
            brightness(87%) contrast(75%);
        }

        .right {
          position: absolute;
          right: 0;
        }

        &::before {
          display: none;
        }

        &.active {
          color: $color10;

          &::after {
            content: "";
            width: 2px;
            height: 25px;
            left: -54px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color10;

            @media screen and (max-width: 767px) {
              left: -26px;
            }
          }

          .icon {
            filter: invert(59%) sepia(19%) saturate(6334%) hue-rotate(126deg)
              brightness(99%) contrast(102%);
          }

          .right img {
            filter: invert(59%) sepia(19%) saturate(6334%) hue-rotate(126deg)
              brightness(99%) contrast(102%);
          }
        }
      }

      .sub-nav-items {
        margin-left: 12px;
        padding-left: 20px;
        border-left: 1px solid #ccc;

        .left {
          display: flex;
          gap: 14px;
        }
      }
    }

    .nav-heading {
      color: #b6bec7;
      font-size: 14px;
      letter-spacing: 0.05ch;
    }
  }

  .options {
    padding: 10px 0 40px;
    gap: 30px;
  }
}
