.team-member-card {
  border: 1px solid $color38;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;

  @include transitioned;

  &.hovered {
    transform: scale(1.025);
  }

  .btn.btn-primary-light {
    transition-delay: 0.2s;

    &:hover {
      background-color: $color41;
    }
  }
}
