#profile-view {
  .main-badge {
    font-size: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main {
    .user-info,
    .tickets-info-sec {
      background-color: #fff;
      border-radius: 16px;
      overflow: hidden;
    }

    .tickets-info-sec,
    .tickets,
    .projects {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .tickets,
  .projects {
    margin-top: 50px;
  }

  .md-editor-wrap .w-md-editor .w-md-editor-toolbar {
    min-height: 44px;
    height: unset;
  }
}
