#profile-view .projects {
  .project-tile-wrap {
    .project-tile {
      background: #fff;

      .tile-head {
        flex-direction: column;
        padding-bottom: 16px;
        gap: 16px;

        .left h5 {
          letter-spacing: -0.08ch;
        }

        .right {
          .access {
            padding-left: 0;
            border-left: 0;
          }
        }
      }

      .tickets-info {
        gap: 4px;
        padding-top: 0;
        margin-top: 16px;
      }
    }
  }
}
