#profile-ratings {
  #user-info-box {
    @media screen and (max-width: 575px) {
      padding-bottom: 10px !important;

      .edit-btn {
        width: 100% !important;
        margin-top: 20px;
      }

      .save-btn {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
