$color1: #536780;
$color2: #8492a7;
$color3: #7a73ff1a;
$color4: #7a73ff;
$color5: #e8eef4;
$color6: #687a8b;
$color7: #b6bec7;
$color8: #f6f9fc;
$color9: #2d2d2d;
$color10: #00cc99;
$color11: #222222;
$color12: #687a8b66;
$color13: #687a8b80;
$color14: #8492a71a;
$color15: #00cc991a;
$color16: #687a8b33;
$color17: #efeaff;
$color18: #d5dee7;
$color19: #30303033;
