@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./colors";
@import "./utilities-2";
@import "./mixins";

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: $color2;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: $color5;
}

::-webkit-scrollbar-thumb {
  background-color: $color2;
  border-radius: 8px;
}

h2 {
  font-size: 46px;
  color: $color1;
  letter-spacing: -0.08ch;

  @media screen and (max-width: 767px) {
    font-size: 36px;
  }
}

h3 {
  font-size: 36px;

  @media screen and (max-width: 767px) {
    font-size: 26px;
  }
}

h4 {
  font-size: 26px;
  color: $color1;
  letter-spacing: -0.08ch;
}

h5 {
  &,
  * {
    font-size: 20px;
    color: $color1;
    letter-spacing: -0.08ch;
  }
}

h6 {
  font-size: 17px;
}

p {
  line-height: 1.5;
}

ul {
  padding-left: 1rem;

  li {
    line-height: 1.5;
    margin-bottom: 8px;
  }
}

hr {
  border: none;
  border-top: 1px solid $color6;
  opacity: 0.2;
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  *************************************************** UTILITY CLASSES **************************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

.text-primary-1 {
  &,
  * {
    color: $color10 !important;
  }
}

.text-primary-2 {
  &,
  * {
    color: $color33 !important;
  }
}

.text-light-1 {
  &,
  * {
    color: $color1 !important;
  }
}

.text-light-2 {
  color: $color7;
}

.text-light-3 {
  color: $color2;
}

.text-light-4 {
  color: $color29;
}

.text-light-5 {
  color: $color47;
}

.text-dark-1 {
  color: $color34;
}

.text-secondary-1 {
  color: $color4;
}

.react-datepicker {
  border-color: rgba($color2, 0.2);

  .react-datepicker__triangle::before {
    opacity: 0.5;
  }

  .react-datepicker__header {
    background-color: transparent;
  }

  .react-datepicker__current-month {
    color: $color4;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    background-color: $color4;
  }
}

.icon.reset {
  right: 12px;
  z-index: 1;
  left: unset !important;
  cursor: pointer;
}

.react-datepicker__input-container {
  position: relative;

  input {
    cursor: pointer;
    padding-left: 48px !important;
  }

  .icon {
    cursor: pointer;
  }
}

.md-editor-wrap {
  .w-md-editor {
    box-shadow: none;
    border: 1px solid $color12;
    border-radius: 8px 8px 0 0;
    border-bottom-width: 2px;
    border-bottom-style: dashed;

    .w-md-editor-toolbar {
      background-color: $color8;
      border-bottom: 0;
      // height: 44px;
      border-radius: 8px 8px 0 0;
      flex-direction: row-reverse;
      gap: 6px;
    }

    .w-md-editor-text-input {
      &::placeholder {
        color: $color7;
      }
    }
  }

  .foot {
    padding: 8px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $color8;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $color12;
    font-size: 10px;
    color: $color7;
  }
}

.custom-react-select {
  border-radius: 6px;
  border: 1px solid rgba($color6, 0.2);
  display: flex;
  width: 100%;

  & > * {
    width: 100%;
    box-shadow: none !important;
    border-color: transparent !important;
  }
}

.dropdown {
  position: relative;
  cursor: pointer;

  & > img {
    @include transitioned;

    &:hover {
      filter: invert(54%) sepia(81%) saturate(536%) hue-rotate(117deg)
        brightness(93%) contrast(103%);
    }
  }

  .options {
    position: absolute;
    right: 0;
    border: 1px solid $color23;
    box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
    background-color: #fff;
    width: max-content;
    padding: 4px 0;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;

    @include transitioned;

    .option {
      font-size: 12px;
      padding: 4px 12px;

      &:hover,
      &.active {
        background-color: $color24;
      }
    }

    &.options-right {
      left: 0 !important;
      transform: translateX(-30px) !important;

      @media screen and (min-width: 575px) {
        transform: translateX(0) !important;
      }
    }
  }

  &.active {
    .options {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.reactions {
    .emoji-box {
      width: 20px;
      height: 20px;
    }

    .options {
      display: flex;
      align-items: center;
      height: 36px;
      padding-left: 4px;
      padding-right: 4px;

      @media screen and (max-width: 486px) {
        left: 50%;
        transform: translateX(-50%);
      }

      .option {
        cursor: pointer;
      }

      & > .option {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.opacity-80 {
  opacity: 0.8;
}

.mw-50 {
  min-width: 50px;
}

.w-14 {
  width: 14px !important;
}

.w-16 {
  width: 16px !important;
}

.h-30 {
  height: 30px !important;
}

.h-40 {
  height: 40px !important;
}

.h-50 {
  height: 50px !important;
}

.mh-200 {
  min-height: 200px !important;
}

.h-200 {
  height: 200px !important;
}

.mh-400 {
  min-height: 400px !important;
}

.h-400 {
  height: 400px !important;
}

.text-focus {
  letter-spacing: -0.08ch;
  color: $color1;
  font-size: 14px;
  font-weight: 600;
}

.w-md-editor-input {
  overflow-x: hidden;
}

.w-md-editor-preview {
  padding: 10px;

  &,
  * {
    font-size: 14px;
    line-height: 1.25;
  }
}

.c-pointer {
  cursor: pointer;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

body:has(.modal-wrapper.active) {
  overflow: hidden !important;
}

.ls-shrink {
  letter-spacing: -1px;
}

.recommended-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  .btn {
    padding: 0;

    &:hover {
      transform: none;

      .btn-text {
        color: $color10;
      }
    }
  }
}

.timer-icon {
  // transform: translateY(3px);
}

.w-20 {
  width: 20px;
}

.h-45 {
  height: 45px !important;
}

.mirrored {
  transform: rotate(180deg);
}

.transitioned {
  @include transitioned;
}

.transitioned-fast {
  transition: 0.1s ease;
}

.border-red {
  border-color: rgb(173, 26, 26) !important;
}

.w-unset {
  width: unset !important;
}

.w-767-unset {
  @media screen and (max-width: 767px) {
    width: unset !important;
  }
}

.w-575-100 {
  @media screen and (max-width: 575px) {
    width: 100%;
  }
}

.w-991-100 {
  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.w-767-100 {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.p-relative {
  position: relative;
}

.tickets-main {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 1250px) {
    gap: 30px;
  }

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    gap: 30px;
  }

  @media screen and (max-width: 575px) {
    gap: 10px;
  }

  .tickets-main__left {
    flex-grow: 1;
  }

  .tickets-main__right {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (max-width: 1100px) {
      justify-content: center;
      flex-direction: row;
      gap: 20px;
    }

    @media screen and (max-width: 575px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 10px;
    }

    .item {
      width: 230px;
      padding: 18px;
      background-color: $color8;
      border-radius: 6px;
      overflow: hidden;

      @media screen and (max-width: 1250px) {
        width: 174px;
      }

      @media screen and (max-width: 1100px) {
        width: 252px;
      }

      @media screen and (max-width: 575px) {
        width: 100%;
        max-width: 295px;
      }

      @media screen and (max-width: 575px) {
        .users-horizontal-list-main {
          margin-top: 16px;

          .users-horizontal-list-item {
            width: 30px;

            .ghost {
              width: 38px;
              height: 38px;
              font-size: 12px;

              img {
                width: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.restrict-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mw-0 {
  min-width: 0;
}

.bg-grey-1 {
  background-color: $color8;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.download-btns {
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @media screen and (max-width: 575px) {
    // justify-content: center;
  }

  .btn {
    padding-right: 0;
    position: relative;
    overflow: hidden;

    .download {
      // position: absolute;
      // right: 0;
      // top: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color27;
    }
  }
}

.link {
  color: $color1;
  font-weight: 500;

  @include transitioned;

  &:hover {
    color: $color10;
  }
}
