#add-skill-modal {
  .add-item {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

    input,
    .btn {
      height: 40px;
    }
  }

  .remove {
    width: 16px;
    cursor: pointer;
  }
}
