#signup-newsletter {
  padding: 50px;
  background: $color10 url("../../assets/vectors/bg-jumbotron-3.svg");
  position: relative;
  border-radius: 10px;
  margin-top: 34px;

  @media screen and (max-width: 767px) {
    padding: 30px;
  }

  @media screen and (max-width: 575px) {
    padding: 18px;
  }

  .newsletter-dots {
    position: absolute;

    &.dots-1 {
      right: 0;
      top: 0;
    }

    &.dots-2 {
      left: 0;
      bottom: 0;
    }
  }
  .main {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;

    .input-container {
      margin: 34px 0 8px;
      position: relative;

      input {
        background-color: #fff;
        border: 0;
        outline: 0;
        padding: 14px;
        border-radius: 8px;
        height: 46px;
        width: 100%;
        display: block;
        font-size: 16px;

        &::placeholder {
          font-style: italic;
          color: $color2;
        }
      }

      .btn {
        position: absolute;
        top: 4px;
        right: 4px;
        height: 38px;
        background-color: rgba(0, 204, 153, 0.1);
      }
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
