#custom-pins-modal {
  .small-main {
    .items {
      overscroll-behavior: contain;

      ul {
        padding-left: 0;
        padding-right: 0;
      }

      .item {
        padding: 4px 20px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;

        .title {
          font-size: 12px;
        }

        .reorder-handle {
          width: 16px;
          cursor: grab;

          &:active {
            cursor: grabbing;
          }
        }
      }
    }
  }
}
