#messaging-layout > .right > .right-inner > .right-inner-main > .thread {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 4;
  display: flex;
  flex-direction: column;

  @include transitioned;

  &.in-active {
    left: 100%;
  }

  .thread-heading {
    padding: 28px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-bottom: 1px solid $color16;

    .left {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .thread-chat {
    padding: 0 20px;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 0 24px 0;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;

    .message-container {
      background-color: #fff;
    }

    .menu-items {
      width: 100px !important;
    }

    & > .thread-chat__inner {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .msgs {
        flex-grow: 1;
      }

      .emoji-picker {
        left: -154px;

        .EmojiPickerReact.epr-main {
          width: 310px !important;
        }
      }
    }
  }
}
