.heatmap-chart {
  .enlarge {
    cursor: pointer;
  }

  .heatmap-months {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .heatmap-month {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .legend-wrap {
    display: flex;
    justify-content: flex-end;

    .legend {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: $color8;
      border-radius: 6px;
      width: 310px;

      @media screen and (max-width: 575px) {
        width: 100%;
      }

      .label {
        font-size: 12px;
        color: $color7;
      }

      .boxes {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        .box {
          width: 14px;
          height: 14px;
          border-radius: 4px;

          @media screen and (max-width: 575px) {
            width: 12px;
            height: 12px;
            border-radius: 3px;
          }

          &:nth-child(1) {
            background-color: #adaaef;
          }

          &:nth-child(2) {
            background-color: #7c77e6;
          }

          &:nth-child(3) {
            background-color: #706ae3;
          }

          &:nth-child(4) {
            background-color: #645ee1;
          }

          &:nth-child(5) {
            background-color: #4b44dc;
          }
        }
      }
    }
  }
}

.heatmap-main {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;

  @media screen and (max-width: 575px) {
    margin-bottom: 10px;
  }

  .heatmap-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 2%;
    gap: 4px;

    .heatmap-box-wrap {
      position: relative;

      .heatmap-box {
        flex-grow: 1;
        width: 100%;
        padding-top: 100%;
        border-radius: 3px;
        background-color: #adaaef;

        @include transitioned;

        &:hover {
          opacity: 0.5;
        }
      }

      &.one {
        .heatmap-box {
          background-color: #adaaef;
        }
      }

      &.two {
        .heatmap-box {
          background-color: #7c77e6;
        }
      }

      &.three {
        .heatmap-box {
          background-color: #706ae3;
        }
      }

      &.four {
        .heatmap-box {
          background-color: #645ee1;
        }
      }

      &.five {
        .heatmap-box {
          background-color: #4b44dc;
        }
      }

      .tooltip {
        position: absolute;
        left: 50%;
        bottom: calc(100% + 10px);
        background-color: #fff;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        width: 150px;
        padding: 10px;
        text-align: center;
        transform: translateX(-50%);
        border: 1px solid $color5;
        box-shadow: 0 8px 24px rgba(140, 149, 159, 0.1);
        border-radius: 10px;

        @include transitioned;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: #fff transparent transparent transparent;
        }

        h6 {
          font-size: 14px;
          font-weight: 500;
          color: $color1;
        }

        p {
          font-size: 12px;
          margin-top: 4px;
        }
      }

      &:hover,
      &.active {
        .tooltip {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
