.page-section {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 30px !important;
  padding-right: 30px !important;

  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-container {
    max-width: 1178px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
  }
}
