#profile-ratings {
  background-color: #fff;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .user-info {
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;

    @media screen and (min-width: 576px) {
      padding-bottom: 40px;
    }

    @media screen and (max-width: 575px) {
      padding: 12px;
      padding-bottom: 20px;
    }

    .cover {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      overflow: hidden;
      position: relative;

      .cover-img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
      }

      .edit {
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;
        width: 20px;
      }
    }

    .hired-by {
      padding-left: 8px;

      .companies {
        .company-item {
          display: flex;
          gap: 16px;
          align-items: flex-start;
          margin-bottom: 16px;
          position: relative;

          .remove {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
          }

          .logo {
            width: 24px;
            flex-shrink: 0;

            img {
              width: 100%;
            }
          }

          .text {
            max-width: 116px;

            .name {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    .badges {
      margin-top: 14px;
      flex-wrap: wrap;
      display: flex;
      gap: 14px;
      max-width: 178px;

      @media screen and (max-width: 767px) {
        max-width: unset;
      }

      .badge {
        position: relative;

        .remove {
          position: absolute;
          right: -6px;
          top: -4px;
          width: 14px;
          cursor: pointer;
        }
      }
    }

    .info-main {
      display: flex;
      gap: 48px;
      padding: 0 70px;

      @media screen and (max-width: 1250px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media screen and (max-width: 1100px) {
        padding-left: 24px;
        padding-right: 24px;
      }

      @media screen and (max-width: 1200px) {
        gap: 30px;
        // gap: 16px;
      }

      @media screen and (max-width: 991px) {
        padding: 0 10px;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        gap: 0;
        width: 100%;
        padding: 0;
      }

      @media screen and (max-width: 650px) {
      }

      @media screen and (max-width: 575px) {
        flex-direction: column;
        gap: 14px;
        padding: 18px 0 12px;
        margin-top: -80px;
      }

      .info-main__left {
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: -50px;

        @media screen and (max-width: 575px) {
          margin-top: 0;
          width: 120px;
        }

        .profile-img-container {
          position: relative;

          .profile-img-wrap {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            border: 8px solid #fff;
            position: relative;

            @media screen and (max-width: 991px) {
              width: 120px;
              height: 120px;
              border-width: 4px;
            }

            .profile-img {
              width: 100%;
              border-radius: 50%;
            }
          }

          .profile-badge {
            position: absolute;
            right: -10px;
            bottom: -10px;

            @media screen and (max-width: 991px) {
              width: 50px;
              right: 0px;
            }

            @media screen and (max-width: 767px) {
              width: 40px;
              right: 0px;
            }
          }
        }
      }

      .info-main__center {
        padding-top: 30px;
        flex-grow: 1;

        @media screen and (max-width: 575px) {
          padding-top: 10px;
        }

        .top {
          display: flex;
          justify-content: space-between;

          @media screen and (max-width: 1199px) {
            flex-direction: column;
            gap: 30px;
          }

          @media screen and (max-width: 991px) {
            padding-top: 20px;
          }

          @media screen and (max-width: 767px) {
            width: 100%;
            padding-top: 0;
          }

          h4 {
            min-height: 40px;
          }
        }

        .text-content {
          display: flex;
          gap: 54px;
          flex-grow: 1;

          @media screen and (max-width: 1200px) {
            gap: 30px;
          }

          @media screen and (max-width: 1100px) {
            flex-direction: column;
          }

          @media screen and (max-width: 575px) {
            gap: 0px;
          }

          .text-left {
            width: 68%;

            @media screen and (max-width: 1200px) {
              width: unset;
              flex-grow: 1;
            }
          }

          .text-right {
            flex-grow: 1;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            @media screen and (max-width: 1200px) {
              width: 180px;
              flex-grow: 0;
            }

            @media screen and (max-width: 1100px) {
              width: 100%;
            }
          }
        }

        .about-text {
          margin-top: 14px;

          a {
            color: $color4;
          }
        }
      }
    }

    .right {
      display: flex;

      @media screen and (max-width: 991px) {
        // margin-left: 138px;
        margin-left: 210px;
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
      }

      @media screen and (max-width: 830px) {
        margin-left: 0;
        justify-content: center;
      }

      @media screen and (max-width: 767px) {
        margin-left: 0;
        justify-content: start;
        padding-left: 0;
        padding-right: 0;
      }

      @media screen and (max-width: 650px) {
        flex-direction: column;
        gap: 24px;
        margin-top: 10px;
      }

      @media screen and (max-width: 575px) {
        flex-direction: column;
        gap: 24px;
        padding: 0;
      }

      .info-box {
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 34px;
        // border-right: 1px solid $color12;
        border-right: 1px solid $color16;

        @media screen and (max-width: 991px) {
          padding-left: 20px;
          padding-right: 20px;
        }

        @media screen and (max-width: 610px) {
          max-width: 120px;
        }

        &:last-child {
          border-right: 0;
          padding-right: 0;
        }

        @media screen and (max-width: 1199px) {
          &:first-child {
            padding-left: 0;
          }
        }

        @media screen and (max-width: 610px) {
          padding: 0;
          border: 0;
        }
      }
    }
  }

  .project-ticket {
    box-shadow: none;
  }

  .tickets-main {
    .item {
      background-color: #fff;
    }
  }

  .desc-box {
    padding-bottom: 40px !important;

    @media screen and (max-width: 575px) {
      padding-bottom: 0 !important;
    }

    .sub-page-container {
      max-width: 1272px !important;

      @media screen and (min-width: 576px) {
        padding-top: 40px !important;
      }
    }
  }
}
