#onboarding {
  .project-info {
    .top-section {
      .right {
        .card {
          border-radius: 6px;
          background-color: #fff;
          height: 110px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          .dots {
            position: absolute;
            right: 0;
            top: 0;
          }

          .title {
            padding: 20px;
            padding-bottom: 0;
            display: flex;
            align-items: center;
            gap: 12px;
            color: $color7;
            font-size: 14px;
          }

          .main {
            padding: 0 14px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;

            .amount {
              font-size: 24px;
              font-weight: 600;
              color: $color1;
            }
          }

          &.pie {
            .chart {
              height: 40px;
              width: 51px;
              position: relative;

              img {
                position: absolute;
                bottom: -2px;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
