.search-wrap {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 575px) {
    flex-direction: column;
    gap: 12px;
  }

  .btn {
    @media screen and (max-width: 575px) {
      justify-content: space-between;
    }
  }

  .input {
    min-width: 380px;

    @media screen and (max-width: 575px) {
      min-width: unset;
      width: 100%;
    }

    input {
      background-color: #fff;

      &::placeholder {
        font-style: oblique;
        color: $color2;
      }
    }
  }
}
