.project-tile-wrap {
  cursor: pointer;
}

.project-tile {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 40px 34px 84px 0px #eaeaeacc;
  background: rgb(0, 0, 0, 0);
  background: radial-gradient(
      circle at 100% calc(100% - 122px),
      rgba(0, 0, 0, 0) 3.5%,
      rgba(255, 255, 255, 1) 3.5%,
      rgba(255, 255, 255, 1) 66%,
      rgba(255, 255, 255, 0) 79%
    ),
    radial-gradient(
      circle at 0 calc(100% - 122px),
      rgba(246, 249, 252, 0.25) 3.5%,
      rgba(255, 255, 255, 1) 3.5%,
      rgba(255, 255, 255, 1) 66%,
      rgba(255, 255, 255, 0) 79%
    );

  @include transitioned;
  @include hover-grow;

  @media screen and (max-width: 575px) {
    background: radial-gradient(
        circle at 100% calc(100% - 106px),
        rgba(0, 0, 0, 0) 3.5%,
        rgba(255, 255, 255, 1) 3.5%,
        rgba(255, 255, 255, 1) 66%,
        rgba(255, 255, 255, 0) 79%
      ),
      radial-gradient(
        circle at 0 calc(100% - 106px),
        rgba(246, 249, 252, 0.25) 3.5%,
        rgba(255, 255, 255, 1) 3.5%,
        rgba(255, 255, 255, 1) 66%,
        rgba(255, 255, 255, 0) 79%
      );
  }

  .hr-wrap {
    position: relative;

    hr {
      border-top: 2px dashed $color13;
      width: calc(100% - 46px);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .tile-head {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 18px;

    @media screen and (max-width: 575px) {
      flex-direction: column;
      padding-bottom: 16px;
      gap: 16px;
    }

    h5 {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .right {
      display: flex;
      justify-content: space-between;
      position: relative;

      .access {
        display: flex;
        gap: 8px;
        align-items: center;
        text-transform: capitalize;
        padding-left: 18px;
        border-left: 1px solid $color18;

        @media screen and (max-width: 575px) {
          padding-left: 0;
          border-left: 0;
        }
      }
    }
  }

  .tile-body {
    padding: 0 30px;
    color: $color1;
    font-weight: 500;
  }

  .tickets-info {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 575px) {
      padding-top: 18px;
      padding-bottom: 18px;
      gap: 4px;
    }

    .line {
      width: 1px;
      height: 30px;
      margin: 0 16px;
      background-color: $color18;

      @media screen and (max-width: 575px) {
        display: none;
      }
    }

    & > .info-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
      border-radius: 6px;
      flex-grow: 1;

      &:nth-child(1) {
        background-color: $color8;
      }

      &:last-child {
        background-color: rgba($color: $color10, $alpha: 0.04);

        .item-left {
          .ticket-text {
            &,
            * {
              color: $color10;
            }
          }
        }

        .item-right {
          color: $color10;
        }
      }

      .item-left {
        display: flex;
        gap: 8px;

        .ticket-text {
          font-size: 14px;
        }
      }

      .item-right {
        font-size: 14px;
      }
    }
  }

  .tile-maintainers {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (max-width: 575px) {
      padding-top: 18px;
    }

    .left {
      flex-shrink: 0;

      h6 {
        color: $color1;
        letter-spacing: -0.5px;
      }
    }
  }

  .subscribe-btn {
    height: 40px;
    background-color: $color8;
    border: 1px solid $color18;

    @media screen and (max-width: 575px) {
      gap: 4px;
      padding: 8px;
      height: 34px;
    }

    .btn-icon {
      filter: invert(41%) sepia(8%) saturate(1603%) hue-rotate(174deg)
        brightness(91%) contrast(86%);

      @media screen and (max-width: 575px) {
        img {
          width: 14px;
        }
      }
    }

    .btn-text {
      font-size: 16px;

      @media screen and (max-width: 575px) {
        font-size: 12px;
      }
    }

    &.subscribed {
      .btn-icon {
        filter: invert(55%) sepia(31%) saturate(2426%) hue-rotate(125deg)
          brightness(98%) contrast(102%);
      }
    }
  }
}
