#onboarding {
  .activity-wrap {
    background-color: #fff;
    width: 340px;
    border-radius: 6px;
    flex-shrink: 0;
    border: 1px solid $color38;
    outline: 1px solid $color38;

    @include transitioned;

    &.inactive {
      @media screen and (min-width: 1201px) {
        width: 0 !important;
      }

      @media screen and (max-width: 1200px) {
        right: -338px;
      }
    }

    @media screen and (max-width: 1200px) {
      position: absolute;
      top: 0;
      right: 0;
    }

    .dots {
      position: absolute;

      &-1 {
        right: 0;
        top: 10px;
      }

      &-2 {
        left: 0;
        top: 120px;
      }
    }

    .activity-row {
      padding: 20px 30px;
      border-bottom: 1px solid $color38;
    }
  }
}
