#onboarding {
  .activity-wrap {
    background-color: #fff;
    width: 340px;
    border-top-left-radius: 6px;
    flex-shrink: 0;
    border: 1px solid $color38;
    // outline: 1px solid $color38;

    @media screen and (max-width: 767px) {
      border-bottom-left-radius: 6px;
    }

    @include transitioned;

    &.inactive {
      @media screen and (min-width: 1201px) {
        width: 0 !important;
      }

      @media screen and (max-width: 1200px) {
        right: -338px;
      }
    }

    @media screen and (max-width: 1200px) {
      position: absolute;
      top: 0;
      right: 0;
    }

    .circle-arrow {
      cursor: pointer;

      @include transitioned;

      &:hover {
        fill: $color10;
      }
    }

    .like-wrap {
      width: 30px;
      height: 26px;
      position: relative;

      &,
      * {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      svg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        &,
        * {
          @include transitioned;
        }
      }

      .like-main-hand {
        transform-origin: 10px 20px;
      }

      &:not(.liked) {
        svg {
          .arm {
            fill: rgba($color10, 0);
            stroke: $color2;
          }

          .hand {
            fill: rgba($color42, 0);
            stroke: $color2;
          }

          .fire-wrap {
            transform: translate(-5px, 7px);
          }

          .fire-1,
          .fire-2 {
            opacity: 0;
          }

          .rocket-wrap {
            transform: translate(8px, 16px);
          }

          .rocket {
            opacity: 0;
          }
        }
      }

      &.liked {
        svg {
          .like-main-hand {
            animation: grow 0.4s linear forwards;
          }

          .arm {
            fill: $color10;
            stroke: rgba($color2, 0);
          }

          .hand {
            fill: $color42;
            stroke: rgba($color2, 0);
          }

          .fire-wrap {
            transform: translate(0, 0);
          }

          .fire-1,
          .fire-2 {
            opacity: 100%;
          }

          .rocket-wrap {
            transform: translate(0, 0);
          }

          .rocket {
            opacity: 100%;
          }
        }
      }
    }

    .dots {
      position: absolute;

      &-1 {
        right: 0;
        top: 10px;
      }

      &-2 {
        left: 0;
        top: 120px;
      }
    }

    .activity-row {
      padding: 20px 30px;
      border-bottom: 1px solid $color38;
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(1);
  }

  66% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
