#project-layout {
  .layout-sidebar {
    .nav-heading {
      padding-left: 30px;
      color: $color7;
      font-size: 14px;
      letter-spacing: 0.05ch;
    }

    .nav-item {
      // border-left: 2px solid transparent;
      padding: 12px 0;
      padding-left: 26px;
      padding-right: 30px;
      margin-left: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 25px;
        background-color: transparent;

        @include transitioned;
      }

      &:hover {
        background-color: rgba($color5, 0.2);
      }

      .left {
        display: flex;
        align-items: center;
        gap: 14px;

        .icon {
          width: 22px;
          filter: invert(99%) sepia(91%) saturate(772%) hue-rotate(175deg)
            brightness(87%) contrast(75%);
        }
      }

      &.active {
        &::before {
          background-color: $color10;
        }

        .left {
          .icon {
            filter: invert(59%) sepia(19%) saturate(6334%) hue-rotate(126deg)
              brightness(99%) contrast(102%);
          }

          .title {
            color: $color10;
          }
        }

        .right {
          img {
            filter: invert(59%) sepia(19%) saturate(6334%) hue-rotate(126deg)
              brightness(99%) contrast(102%);
          }
        }
      }
    }

    .navigation {
      margin-top: 8px;

      .sub-nav-item {
        padding-left: 8px;

        .nav-item {
          padding-left: 20px;
          padding-right: 20px;
          margin-left: 31px;
          border-left: 1px solid $color16;
        }
      }
    }
  }
}
