.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;

  .text {
    font-size: 16px;
    color: $color1;
    font-weight: 500;
  }

  input {
    width: 80px;
    height: 40px;
    border: 1px solid $color19;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: $color1;
    font-weight: 500;
  }

  .buttons {
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    .pg-btn {
      background-color: rgba($color10, 0.1);
      border: none;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @include transitioned;

      &:hover {
        background-color: rgba($color10, 0.2);
      }

      &:nth-child(2) {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}
