#onboarding-design .pipes .pipe-content-container {
  .pipes-list {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 15px;
    flex-shrink: 0;
    margin-left: -10px;
    padding-left: 10px;
    margin-top: -10px;
    padding-top: 10px;
    scroll-behavior: smooth;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
      flex-wrap: wrap;
      overflow-y: unset;
    }

    // @media screen and (max-width: 575px) {
    // }

    .pipe-list-item {
      display: flex;
      gap: 12px;
      align-items: center;
      margin-bottom: 30px;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 767px) {
        margin-bottom: 0;

        .text {
          display: none;
        }
      }

      &:not(:last-child)::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: $color46;
        top: 100%;
        left: 21px;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .icon-container {
        width: 44px;
        height: 44px;
        position: relative;

        svg {
          &,
          * {
            @include transitioned;
          }
        }

        svg:not(.no-highlight) {
          path,
          rect {
            stroke: $color2;

            @include transitioned;

            &.circle {
              stroke-opacity: 0.2;
            }
          }
        }

        img {
          display: block;
          position: absolute;
          left: 0;
          top: 0;

          @include transitioned;
        }
      }

      .name {
        color: $color47;

        @include transitioned;
      }

      .desc {
        @include transitioned;
      }

      &:hover {
        .icon-container {
          svg:not(.no-highlight) {
            transform: scale(1.125);

            path,
            rect {
              stroke: $color10;

              &.circle {
                stroke-opacity: 1;
              }
            }
          }

          svg.no-highlight {
            transform: scale(1.125);
            opacity: 0.7;
          }
        }

        .name {
          color: $color10;
        }

        .desc {
          color: $color1;
        }
      }

      &.active {
        .icon-container {
          svg {
            path,
            rect {
              stroke: $color10;

              &.circle {
                stroke-opacity: 1;
              }
            }
          }
        }
      }

      &.passed {
        .icon-container {
          svg {
            path,
            rect {
              &.circle {
                fill: $color10;
              }

              &.to-white {
                fill: #fff;
                stroke: #fff;
              }

              &.to-outline-green {
                stroke: $color10;
              }

              &.to-outline-white {
                stroke: #fff;
              }

              &.to-green {
                stroke: $color10;
              }
            }
          }
        }
      }
    }
  }
}
