// #messaging-layout > .center > .chat-main

.popup-img {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.4);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  padding: 40px;
  opacity: 0;
  pointer-events: none;

  @include transitioned;

  &.active {
    pointer-events: all;
    opacity: 1;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;

    @media screen and (max-width: 575px) {
      width: 30px;
    }
  }

  img.popup-img-main {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.chat-msg {
  display: flex;
  gap: 12px;

  .dummy {
    width: 30px;
    flex-shrink: 0;
  }

  .img-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @media screen and (max-width: 575px) {
      width: 28px;
      height: 28px;
    }

    img {
      width: 100%;
    }
  }

  .msg-body-wrap {
    .msg-body {
      margin-top: 10px;
      padding: 14px;
      background-color: #fff;
      border: 1px solid $color46;
      border-radius: 0 10px 10px 10px;
      font-weight: 500;
      width: fit-content;
      max-width: 488px;
      display: flex;
      align-items: flex-start;
      position: relative;
      gap: 12px;

      @media screen and (max-width: 575px) {
        max-width: calc(100% - 50px);
      }

      .menu-items {
        @media screen and (max-width: 767px) {
          right: 0;
          left: 50% !important;
          transform: translateX(calc(-50% - 1rem));
        }
      }

      &.rounded {
        border-top-left-radius: 10px;
      }

      &.full {
        width: 100%;
      }

      &.reply {
        margin-top: 0;
      }

      &.reply-body {
        background-color: $color8;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;

        &,
        * {
          color: $color56 !important;
        }
      }

      & > img {
        align-self: flex-end;
      }

      .msg-video,
      .msg-img {
        border-radius: 4px;
      }
      .download-btn {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 12px;
        top: 8px;
        z-index: 1;
      }

      .state {
        position: absolute;
        right: -24px;
        bottom: 4px;
      }

      .ghost {
        position: absolute;
        top: 4px;
        // right: -12px;
        right: -32px;
        transform: translateX(100%);
        opacity: 0;
        cursor: pointer;
        pointer-events: none;

        @include transitioned;
      }
    }

    &:hover {
      .ghost {
        opacity: 1;
        pointer-events: all;
      }
    }

    @media screen and (max-width: 767px) {
      .ghost {
        opacity: 1 !important;
        pointer-events: all !important;
      }
    }
  }

  .thread-replies {
    .reply-thread {
      display: none;
    }

    &:hover {
      .time {
        display: none;
      }

      .reply-thread {
        display: block;
      }
    }
  }
}
