#display-ticket-modal {
  .modal-sub-wrapper {
    max-width: 885px;

    // .main-jumbotron {
    // }
  }

  .main-content {
    .btns {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  .react-md {
    pre > div {
      background-color: $color8 !important;

      * {
        @media screen and (max-width: 575px) {
          font-size: 14px;
        }
      }
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }
}

.comments {
  padding: 42px;
  background-color: $color8;
  border: 1px solid rgba($color6, 0.2);
  border-width: 1px 0 1px 0;

  @media screen and (max-width: 767px) {
    padding: 26px;
  }

  .comments-main {
    .comment-item-main {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      margin-top: 18px;
      position: relative;

      @media screen and (max-width: 575px) {
        &:last-child {
          .text {
            // padding-bottom: 40px;
          }
        }
      }

      .avatar-ghost {
        width: 40px;
        flex-shrink: 0;

        @media screen and (max-width: 575px) {
          display: none;
        }
      }

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        position: absolute;
        left: 0;

        @media screen and (max-width: 575px) {
          margin-left: 7px;
        }
      }

      .text {
        flex-grow: 1;
        background-color: #fff;
        padding: 8px;
        border: 1px solid $color16;
        border-radius: 8px;

        .comment-head {
          background-color: $color8;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px;
          border-radius: 6px;

          @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            gap: 12px;
          }

          @media screen and (max-width: 575px) {
            margin-left: 44px;
          }

          .left {
            display: flex;
            gap: 6px;

            * {
              font-size: 12px;
            }

            .name {
              font-weight: 500;
              color: $color1;
            }

            .time {
            }
          }

          .right {
            display: flex;
            align-items: center;
            gap: 10px;

            .role {
              border-radius: 4px;
              font-size: 12px;
              border: 1px solid rgba($color6, 0.2);
              padding: 2px 6px;
            }

            img {
              display: block;
            }
          }
        }

        .comment-body {
          padding: 14px 2px 0;
          line-height: 1.5;
          font-size: 15px;
        }
      }

      .reply {
        background-color: $color8;
        padding: 8px;
        margin-bottom: 15px;

        .comment-head {
          background-color: $color28;
          margin-left: 0;
        }
      }
    }
  }
}

.add-comment {
  padding: 34px 42px;
  position: relative;

  @media screen and (max-width: 767px) {
    padding: 42px 24px 0;
  }

  @media screen and (max-width: 575px) {
    margin-top: 50px;
  }

  .add-comment-main {
    display: flex;
    gap: 8px;

    .avatar {
      flex-shrink: 0;

      @media screen and (max-width: 575px) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        top: -46px;
      }
    }

    & > *:nth-child(2) {
      flex-grow: 1;
    }

    .w-md-editor-toolbar {
      @media screen and (max-width: 575px) {
        height: unset;
      }
    }
  }
}
